/*!
 全局样式 
 */

li, dd
  list-style: none
body, html
  font-size: 12px
h4
  font-size: 16px
a
  color: #2ea1ad
  text-decoration: none

.breadcrumb
  display: flex
  font-size: 14px
  line-height: 30px
  padding: 20px

  img
    vertical-align: middle
    position: relative
    top: -3px
    margin: 0 3px 0 0

  .active
    color: #1fb7b1
    cursor: pointer

  .point
    margin: 0 10px
    line-height: 28px
    font-weight: bold
    color: #0dbdad
    font-size: 30px

.fl-right
  float: right
.fl-left
  float: left
.fl-none
  float: none